<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EC2Info.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EC2Info.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <EC2Info.Properties.Settings>
            <setting name="AWSRegion" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>eu-west-1</string>
                        <string>eu-central-1</string>
                        <string>us-east-1</string>
                        <string>us-west-1</string>
                        <string>us-west-2</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AWSDefaultRegion" serializeAs="String">
                <value>eu-west-1</value>
            </setting>
            <setting name="MFADevices" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>default|arn:aws:iam::049793823615:mfa/rbowden.kcom.adm</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Roles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>CA_KCOM_ADM @ easyJet Non-Prod|arn:aws:iam::640467343547:role/CA_KCOM_ADM</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="EC2ItemSet1" serializeAs="String">
                <value>Name,InstanceId,PrivateIpAddress,PublicIpAddress,VpcId,SubnetId,KeyName,SecurityGroups</value>
            </setting>
            <setting name="VersionsRemindDate" serializeAs="String">
                <value />
            </setting>
        </EC2Info.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <EC2Info.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>0.0</value>
            </setting>
            <setting name="UpdateUrl" serializeAs="String">
                <value>https://github.com/rickbowden/EC2Info/releases/latest</value>
            </setting>
        </EC2Info.Properties.Settings>
    </applicationSettings>
</configuration>