<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EC2Info.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EC2Info.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <EC2Info.Properties.Settings>
            <setting name="AWSDefaultRegion" serializeAs="String">
                <value>eu-west-1</value>
            </setting>
            <setting name="MFADevices" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="Roles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="EC2SavedProperties" serializeAs="String">
                <value>Name,InstanceId,PrivateIpAddress,PublicIpAddress,VpcId,SubnetId,KeyName,SecurityGroups</value>
            </setting>
            <setting name="VersionsRemindDate" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tags" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
        </EC2Info.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <EC2Info.Properties.Settings>
            <setting name="AWSRegion" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ap-northeast-1</string>
                        <string>ap-northeast-2</string>
                        <string>ap-southeast-1</string>
                        <string>ap-southeast-2</string>
                        <string>ap-south-1</string>
                        <string>ca-central-1</string>
                        <string>eu-central-1</string>
                        <string>eu-west-1</string>
                        <string>eu-west-2</string>
                        <string>sa-east-1</string>
                        <string>us-east-1</string>
                        <string>us-east-2</string>
                        <string>us-west-1</string>
                        <string>us-west-2</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="UpdateUrl" serializeAs="String">
                <value>https://github.com/rickbowden/EC2Info/releases/latest</value>
            </setting>
            <setting name="EC2Properties" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Architecture</string>
                        <string>BlockDeviceMappings</string>
                        <string>BlockDeviceNames</string>
                        <string>BlockDeviceVolumeIds</string>
                        <string>EbsOptimized</string>
                        <string>EnaSupport</string>
                        <string>Hypervisor</string>
                        <string>IamInstanceProfile</string>
                        <string>InstanceId</string>
                        <string>InstanceType</string>
                        <string>KernelId</string>
                        <string>KeyName</string>
                        <string>LaunchTime</string>
                        <string>Monitoring</string>
                        <string>Name</string>
                        <string>NetworkInterfaces</string>
                        <string>NetworkInterfaceIds</string>
                        <string>NetworkInterfacePrivateIps</string>
                        <string>Platform</string>
                        <string>PrivateDnsName</string>
                        <string>PrivateIpAddress</string>
                        <string>PublicDnsName</string>
                        <string>PublicIpAddress</string>
                        <string>RootDeviceName</string>
                        <string>RootDeviceType</string>
                        <string>SecurityGroups</string>
                        <string>Snapshots</string>
                        <string>StackCreationTime</string>
                        <string>StackName</string>
                        <string>StackId</string>
                        <string>StackLogicalId</string>
                        <string>State</string>
                        <string>SubnetId</string>
                        <string>ImageId</string>
                        <string>VpcId</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="StackNameTag" serializeAs="String">
                <value>aws:cloudformation:stack-name</value>
            </setting>
            <setting name="StackIdTag" serializeAs="String">
                <value>aws:cloudformation:stack-id</value>
            </setting>
            <setting name="StackLogicalIdTag" serializeAs="String">
                <value>aws:cloudformation:logical-id</value>
            </setting>
            <setting name="DateTimeFormat" serializeAs="String">
                <value>yyyy-MM-dd HH:mm:ss</value>
            </setting>
        </EC2Info.Properties.Settings>
    </applicationSettings>
</configuration>